<% provide(:title, t(:faq)) %>
<div id="main">
  <h1><%= t(:faq) %></h1>
  <p>
    Den 23e november är det dags för Blekingska Nationens bal Höstblotet.
    Eftersom många inte riktigt vet vad en nationsbal i allmänhet innebär skall
    vi försöka reda ut begreppen och skingra några frågetecken här.
  </p>

  <p>
    <span class="bold">
      Fråga: Vad är en nationsbal egentligen?
    </span><br>
    Svar: En nationsbal är den största och roligaste festen som nationen ställer
    till med på hela året!
  </p>

  <p>
    <span class="bold">
      Fråga: Varför heter balen Höstblotet?
    </span><br>
    Svar: Förr i tiden, enligt myten, beboddes Blekinge av det vilda folkslaget
    Herulerna, vars sedvänjor innefattade blodsoffer. Det enda som offras
    nuförtiden är dock morgondagens välbefinnande!
  </p>

  <p>
    <span class="bold">
      Fråga: Vem får gå på balen?
    </span><br>
    Svar: Alla! På balen möts nya och gamla blekingar från olika generationer
    för att festa och ha trevligt tillsammans. Även om du inte är medlem i
    nationen är du varmt välkommen på balen.
  </p>

  <p>
    <span class="bold">
      Fråga: Det verkar så dyrt med 775 kr för balen, vad ingår egentligen?
    </span><br>
    Svar: En exklusiv trerätters middag med snaps och öl, vin och punsch.
    Underhållning och högtidliga tal och dans till storband efter middagen,
    duktiga DJ:s att fortsätta dansen till härligt sällskap och allmän yra!
    Allt detta i hjärtat av Lund, i AF-borgen.
  </p>

  <p>
    <span class="bold">
      Fråga: Vad är en balsexa för något?
    </span><br>
    Svar: Efter att man har dansat lite så blir man kanske hungrig igen och då
    ska man gå på sexan. Där serveras enklare mat och dessutom brukar det bli
    riktigt tryck med spontansång och dans!
  </p>

  <p>
    <span class="bold">
      Fråga: Vad ska man ha en medalj till?
    </span><br>
    Svar: Medaljen har man för att visa att man varit med på denna otroliga
    fest. Höstblotet har ett nytt medaljsystem, där man får en finare valör på
    sin medalj efter att ha deltagit på ett visst antal Höstblot. Mer om detta
    finns att läsa under "medalj".
  </p>

  <p>
    <span class="bold">
      Fråga: Vad ska man ha på sig?
    </span><br>
    Svar: Klädkoden för balen är högtidsdräkt. Det innebär frack eller
    balklänning, eller om man vill, folkdräkt. Eller Stor mässdräkt om man råkar
    vara militär. Om du bara vill komma på eftersläppet är klädkoden mörk
    kostym. Klänningarna som bärs till eftersläppet skall sträcka sig till
    nedanför knäna medans balklänningarna ska nå till anklarna.
  </p>
  <p>
    Vid frågor om klädkoden, kontakta övermarskalken på overmarskalk@blekingska.se.
  </p>

  <p>
    <span class="bold">
      Fråga: Om jag känner mig osäker på dansstegen eller vilka bestick jag ska
      börja med?
    </span><br>
    Svar: Blekingska nationen anordnar en kombinerad danskurs &amp; etikettskväll
    under en kväll november, håll utkik för datum på hemsidan.
  </p>

  <p>
    <span class="bold">
      Fråga: Vad är en ballunch?
    </span><br>
    Svar: Tro inte balen är slut för att du lämnat borgen för kvällen! Kl: 12:00
    dagen efter balen forstätter balhelgens firande med en ballunch på
    nationshuset på Måsvägen 11, där det kommer att serveras bl.a. sill med
    tilltugg och förfriskningar, samt bjudas på ett sjungande, festande och
    härjande som endast heruler kan frambringa.
  </p>
</div>
