<% provide(:title, t(:faq)) %>
<div id="main">
  <h1><%= t(:faq) %></h1>
  <p>
      On the 23rd November it's time for Blekingska Nation's bal; the Höstblot.
      Since not everyone is aware what a bal really is we're now going to
      provide some quick facts and answers to the most frequently asked
      questions.
  </p>

  <p>
    <span class="bold">
      Question: Why is the bal named the Höstblot?
    </span><br>
      Answer: Höstblotet is hard to translate but it roughly means "The autumnal
      sacrifice of blood". A long time ago, according to myth, Blekinge was
      inhabited by the wild tribe Herulerna whose customs included the
      sacrificing of blood. These days though, we only sacrifice tomorrows
      well-being!
  </p>

  <p>
    <span class="bold">
      Question: Who gets to attend the bal?
    </span><br>
      Answer: Everyone! At the bal both new and old Blekingar from different
      generations meet to party and have a good time. Even if you are not a
      member of the nation you are most welcome to attend the Höstblot.
  </p>

  <p>
    <span class="bold">
      Question: It seems a bit expensive to pay 775 kr, what do I really get for
      it?
    </span><br>
      Answer: You will receive an exclusive three-course dinner with schnapps,
      beer, wine and punsch. Entertainment, grand speeches and dance to the tune
      of an orchestra after the dinner, topped by our fantastic DJ's who will
      make you dance the night away on our two dance floors. All this in the
      heart of Lund, the AF-castle.
  </p>

  <p>
    <span class="bold">
      Question: What is a sexa?
    </span><br>
      Answer: After having danced for a bit it's only natural for a Herul to
      feel hungry again and that signals the start of the sexa. At the sexa
      simple food is served, usually accompanied by spontaneous singing and
      dancing!
  </p>

  <p>
    <span class="bold">
      Question: What am I supposed to do with a medal?
    </span><br>
      Answer: The medal shows that you have attended this amazing party. You can
      upgrade your medal when you have visited the Höstblot several times, more
      information about this can be found under the "Medals" tab.
  </p>

  <p>
    <span class="bold">
      Question: What should I wear?
    </span><br>
      Answer: The dress-code is white tie. That means coattails or evening-gown
      or, if you are so inclined, the traditional clothing of your culture. If
      you happen to be in the military you are allowed to wear your dress
      uniform. If you only want to attend the dance the dress-code is
      semi-formal which means a suit in dark colours with a tie. Dresses worn to
      the dance should reach beneath the knees while dresses worn to the dinner
      should reach the ankles.
  <br>
      If you have any further questions regarding the dress code, please contact
      the Grand Marshal on overmarskalk@blekingska.se.
  </p>

  <p>
    <span class="bold">
      Question: If I feel unsure about moving my feet or don't know which fork
      to start with?
    </span><br>
      Answer: Blekingska Nation will organize a combined dance and etiquette
      course, information will be posted on the webpage.
  </p>

  <p>
    <span class="bold">
      Question: What is a bal lunch?
    </span><br>
      Answer: Don't think that the bal is over just because you left the castle
      for the evening! At 12:00 the day after the party continues with a lunch
      at Blekingska Nation (Måsvägen 11) where among other things Herring and
      meatballs along with drinks will be served. Singing, dancing and general
      banana-going that only a true Herul could muster.
  </p>
</div>
