<% provide(:title, t(:history)) %>
<div id="main">
  <h1>History</h1>
  <p>
    If you are interested in the history of the Höstblot, contact
    <a href="mailto:bal@blekingska.se">bal@blekingska.se</a> and our nation
    historian will contact you.
  <p>
</div>
