<% provide(:title, t(:history)) %>
<div id="main">
  <h1>Historia</h1>

  <p style="text-align: center">
    Ute<br>
    dansar höstanvinden,<br>
    stjäler gulnat blad från linden,<br>
    rusar snabbare än hinden<br>
    över slätten ini staden studsande mot tak och väggar<br>
    fram mot Huset.<br>
  </p>

  <p style="text-align: center">
    Inne<br>
    glammar man i Sångar-Salen,<br>
    höjer man med klang pokalen<br>
    lyssnar man till talen<br>
    från Kurator till Inspektor<br>
    från Inspektor till Nationen<br>
    från Nationen till dess Hembygd<br>
    från en blåögd själ till kvinnan…<br>
    Börjar balen i Lilla salen.<br>
  </p>

  <p>
    Så står det i inbjudan till Blekingska Nationens höstfest 1951, och visst
    känner man igen sig. Mycket är sig likt, även såhär 60 år senare, men vägen
    hit har varit lång och oviss.
  </p>

  <p>
    Blekingska Nationen har en lång och rik festtradition. Redan på 1850-talet
    samlades blekingar till bal i Akademiska Föreningens då nytillbyggda borg.
    Blekingarna var inte sena att utnyttja de möjligheter till festlig samvaro
    som de nya lokalerna erbjöd. Nationens medlemsantal och verksamhet har sedan
    1850-talet kraftigt varierat med tiden, men just nationsfesternas
    popularitet verkar alltid ha varit stor och givit många nationsmedlemmar
    glada minnen genom åren. Bland de regelbundet återkommande blekingska
    festerna var höstfesten, vilken var nationens största egna fest.
  </p>

  <p>
    Vid höstfesten 1947 firades nationens 250-årsjubileum, och författaren Harry
    Martinsson från Jämshög i Blekinge installerades som Hedersledamot. Detta
    sägs vara den första gång som Martinsson bar frack, ett plagg som han senare
    skulle behöva nyttja allt oftare då han 1949 blev invald i Svenska Akademin
    och sedermera tilldelades Nobelpriset i litteratur.
  </p>

  <p>
    Sen när heter då balen Höstblotet? Namnet Höstblotet verkar vara intimt
    förknippat med Herulorden, som instiftades vid nationen 1961. Herulorden
    ansåg sig vara de andliga (och möjligtvis genetiska) efterföljarna till den
    krigiska folkgruppen Herulerna, som ansågs ha slagit sig ned i Blekinge runt
    år 550 e kr., efter att bland annat framgångsrikt agerat hjälptrupp åt det
    östromerska riket. Herulerna utmärkte sig för att vara utomordentligt
    vildsinta och barbariska och för sin sedvänja att offra (blota) diverse
    levande väsen för att blidka sina gudar. Nationens höstfest sammansmälte med
    Herulordens högtidsfest och därav blev Höstblotet till.
  </p>

  <p>
    Herulordens matrikel sträcker sig fram till 1971, då orden somnade in.
    Frackfester och baler var inte längre på modet i 1970-talets Lund, och
    framför allt inte på Blekingska nationen. I slutet på 1970-talet var
    nationen i allvarlig ekonomisk kris. Total nedläggning hotade nationen och
    därmed hoppet om att någon gång återuppliva festtraditionerna. 1982 var den
    omedelbara faran över och Blekingska nationen kunde återigen fira Höstblot
    på Akademiska Föreningen, och där installera Jan-Öjvind Swahn som Inspektor.
  </p>

  <p>
    I dag är Höstblotet Blekingska nationens absolut största årligen
    återkommande arrangemang och besöks av såväl unga som gamla blekingar såväl
    som gäster från när och fjärran. Den långa blekingska traditionen att ställa
    till med höstfest består och blotet man som deltagare förväntas göra består
    nu i att offra morgondagens välmående, med hopp om en fantastisk festkväll.
    De gamla herulgudarna torde väl vara nöjda!
  </p>
</div>
