<% provide(:title, t(:home)) %>
<div id="main">
  <h1>Höstblotet</h1>
  <h2>
    Blekingska nationen i Lund bjuder in till Höstblot den 23 november 2019
  </h2>

  <p>
    Höstblotet är en årlig bal som arrangeras av Blekingska nationen vid Lunds
    universitet. Bland festdeltagarna ingår medlemmar från nationen, dess
    alumner, representanter från kårer och nationer runt om i Lund,
    vänföreningar runt om i Norden och England samt särskilt inbjudna.
  </p>

  <p>
    Lokalen för detta högtidliga firande är Akademiska Föreningens ståtliga
    borg som tillsammans med Universitetshuset och Domkyrkan pryder Lunds
    stadskärna, Lundagård. Tidpunkten för detta är, som brukligt, den näst sista
    lördagen i november, vilken under 2019 infaller den 23 november. Iklädda
    högtidsdräkt m.a.o. beträder vi under utropet ”Heruler! - till bords vi gå”
    Café Athen och intar en trerätters supé. Den utsökta middagen med
    tillhörande underhållning åtföljs av dans till storband i Café Athen.
  </p>

  <p>
    Klockan 00:00 slås portarna upp till eftersläpp för gäster utöver
    middagsdeltagarna, vilka är välkomna att beträda tillställningen i klädsel
    mörk kostym. Detta påbjuder fest, dans och eventuellt rullande utav hatt.
    Fram emot småtimmarna fylls energiförråden på när sexa serveras i Lilla
    salen.
  </p>

  <p>
    Av de olika tillställningar och fester som Blekingska nationen anordnar, är
    Höstblotet den mest högtidliga och välbesökta.
  </p>

  <p>
    Och kom ihåg: Att besöka en eller flera baler under sin studietid är ett
    måste för alla Lundastudenter!
  </p>

  <p>
    Sista anmälnings- och betalningsdag är 31e oktober.
  </p>

  <div id="organizers">
    <table>
      <tbody>
        <tr>
          <td>
            <p>Martin Lindgren</p>
            <p><em>Övermarskalk</em></p>
          </td>
          <td>
            <p>David Björkhem</p>
            <p><em>Festmästare</em></p>
          </td>
          <td>
            <p>Cara Warren</p>
            <p><em>Festmästare</em></p>
          </td>
          <td>
            <p>Gabriel Nilsson</p>
            <p><em>Festmästare</em></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
