<% provide(:title, t(:home)) %>
<div id="main">
  <h1>Höstblotet</h1>

  <h2>
    Blekingska Nation at Lund University welcomes you to Höstblot on the 23rd
    of November 2019.
  </h2>

  <p>
    The Höstblot is the annual bal hosted by Blekingska Nation at Lunds
    University. Attendants come from the nation, its alumni, representatives
    from other nations and student unions hailing both from Lund and abroad.
  </p>

  <p>
    The location of this grand celebration is the Academic Society’s castle
    (AF-borgen) situated, together with the cathedral and the Kings House, in
    Lundagård, the heart of Lund. The date that you need to keep in mind is the
    second to last Saturday in November, which in 2019 falls on the 23rd of November.
    Dressed in our coattails or ball gowns and under the battle cry "Heruler! -
    till bords vi gå" we enter Café Athen to feast on a three course dinner
    followed by dance to an orchestra in Café Athen.
  </p>

  <p>
    At 00:00 the gates will open for guests whom did not attend the dinner.
    They are welcome to join the festivities dressed in semi-formal attire.
    This calls for partying and dancing of a kind you won’t experience until
    the next time you attend a Höstblot. As the night grows old we recharge our
    batteries when sexa is served in Lilla salen.
  </p>

  <p>
    Of the various activities that Blekingska arranges, the Höstblot is the
    most grand and well-visited.
  </p>

  <p>
    And remember! To visit one or more bals during your stay in Lund is a must
    for every true Herul!
  </p>

  <p>
    Last payment and registration day is 31th of October.
  </p>

  <div id="organizers">
    <table>
      <tbody>
        <tr>
          <td>
            <p>Martin Lindgreb</p>
            <p><em>Grand Marshal</em></p>
          </td>
          <td>
            <p>David Björkhem</p>
            <p><em>Master of Party</em></p>
          </td>
          <td>
            <p>Cara Warren</p>
            <p><em>Master of Party</em></p>
          </td>
          <td>
            <p>Gabriel Nilsson</p>
            <p><em>Master of Party</em></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
