<% provide(:title, t(:medal)) %>
<div id="main">
  <h1><%= t(:medal) %></h1>
  <p>
    As an attendee of the Höstblot you will get the option of purchasing a
    medal. The material of the medal will depend upon how many Höstblot you have
    attended.
  </p>

  <p>
    If this is your first time attending the Höstblot you can buy a medal in
    bronze. This can be exchanged for a silver medal when you attend your fifth
    and a gold medal is available by the time you are visiting your tenth
    Höstblot. If you were to attend as many as twenty Höstblot you will receive
    a special mark to place upon you medal.
  </p>

  <p>
    In the exchange the previous medal is handed back and a small fee is paid.
  </p>

  <p>
    This system works retroactively so if you feel that you've already qualified
    for a silver or gold medal you can order one. We are aware of who has
    attended the previous Höstblots.
  </p>
</div>
