<% provide(:title, t(:medal)) %>
<div id="main">
  <h1><%= t(:medal) %></h1>
  <p>
    Från och med Höstblotet 2012 har Blekingska nationen introducerat nya
    medaljer som fås i olika valörer beronde på hur många Höstblot man närvarat
    vid.
  </p>

  <p>
    Höstblotsmedaljerna är indelade i tre valörer; Guld, Silver och Brons.
  </p>

  <p>
    Den första medaljen man får köpa på sitt första Höstblot är Bronsmedaljen.
    Den får man sedan byta ut mot en silvermedalj när man närvarar vid sitt
    femte Höstblot. Guldmedaljen får man byta till sig vid sitt tionde Höstblot.
    Om man skulle närvara vid så många som 20 höstblot får man ett speciellt
    märke att fästa på sin guldmedalj. Vid byte återlämnas den tidigare medaljen
    och en mindre avgift för den nya medaljen betalas.
  </p>

  <p>
    Systemet gäller retroaktivt, så om du redan anser dig uppfylla kraven för
    silver- eller guldmedaljen, får du beställa en sådan i år. (Vi vet vilka som
    gått på tidigare baler...).
  </p>
</div>
