<% provide(:title, t(:food_menu)) %>
<div id="main">
  <h1><%= t(:food_menu) %></h1>
  <p style="text-align: center;">
    <span class="bold">Entrée:</span><br>
    Creamy pumpkin soup with chilli-pickled pumpkin, salt roasted pumpkin seeds, and crispy leeks
  </p>

  <p style="text-align: center;">
    <span class="bold">Main course:</span><br>
    Duck breast with oven-baked sunchokes, pickled onions, parsley sauce, and thyme-roasted potatoes
    <br>
    <i>Vegetarian:</i> Portabello confit with fried sunchokes, creamy sautéed oyster mushrooms, and potato terrine seasoned with thyme
  </p>

  <p style="text-align: center;">
    <span class="bold">Dessert:</span><br>
    Chocolate pannacotta with orange curd and crispy raspberries
    <br>
    Wolkes Caloric Punsch &amp; coffee
  </p>
</div>
