<% provide(:title, t(:food_menu)) %>
<div id="main">
  <h1><%= t(:food_menu) %></h1>
  <p style="text-align: center;">
    <span class="bold">Förrätt:</span><br>
    Krämig soppa på muscatpumpa, chiliinlagd pumpa, saltrostade pumpakärnor och krispig purjolök  </p>

  <p style="text-align: center;">
    <span class="bold">Huvudrätt:</span><br>
    Ankbröst med ugnsbakade jordärtskockor, syltad smålök, persiljesky och timjanrostad klyftpotatis
    <br>
    <i>Vegetariskt alternativ:</i> Confiterad portabello med friterad jordärtskocka, gräddkokt ostronskivling och potatisterrin smaksatt med timjan
  </p>

  <p style="text-align: center;">
    <span class="bold">Dessert:</span><br>
    Chokladpannacotta med apelsincurd och krispiga hallon
    <br>
    Kaffe med Wolkes Caloric Punsch
  </p>
</div>
