<% provide(:title, t(:program)) %>
<div id="main">
  <div class="program">
    <h1>Program</h1>
    <p class="bold">Lördag</p>

    <p>
      Portarna öppnas kl. 17.15<br>
      Fördrink från kl. 17.15<br>
      Portarna stängs kl. 18.00(..)<br>
      Taffeln bryts kl. 00.00
      Samt Installation av Hedersledamöter
    </p>

    <p>
      Eftersläpp kl. 00.00<br>
      Dans till Storband i Café Athen kl. 00.00<br>
      Sexa i Lilla salen kl. 01.30
    </p>

    <p>
      DJ i Café Athen kl. 02:00
    </p>

    <p class="bold">
      Söndag
    </p>

    <p>
      Ballunch kl. 12.00<br>
      Plats: Blekingska nationen
    </p>
  </div>
</div>
