<% provide(:title, t(:program)) %>
<div id="main">
  <div class="program">
    <h1>Program</h1>
    <p class="bold">Saturday</p>

    <p>
      The gate opens 17.15<br>
      Pre-dinner cocktail from 17.15<br>
      The gate closes 18.00(..)<br>
      The banquet is over 00.00
      And also installation of the new honorary members.
    </p>

    <p>
      The club opens 00.00<br>
      Dans in the ballroom "Café Athen" 00.00<br>
      Sexa (food) in the ballroom "Lilla salen" 01.30
    </p>

    <p>
      DJ in Café Athen kl. 02:00
    </p>

    <p class="bold">Sunday</p>

    <p>
      Ballunch 12:00 at Blekingska Nation.
    </p>
  </div>
</div>
