<% provide(:title, "Logga in") %>
<div id="main">
  <h1>Logga in</h1>

  <div>
    <%= form_for(:session, url: signin_url) do |f| %>
      <%= f.label :name, "Användarnamn" %>
      <%= f.text_field :name %>

      <%= f.label :password, "Lösenord" %>
      <%= f.password_field :password %>

      <%= f.submit "Logga in"%>
    <% end %>
  </div>
</div>
