<% if @attendee.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <%= t(:form_error) %>
    </div>
    <ul>
    <% @attendee.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>