<div id="main">
  <p>
    Du är nu på väg att bekräfta att följande baldeltagare har betalat in: <br>
  </p>
  <%= form_for :attendee, url: admin_update_mark_as_paid_path,
                 :html => { :method => :post } do |f| %>
    <% for a in @attendees_confirm %>
      <%= hidden_field_tag "attendee_ids[]", a.id %>
    <% end %>
    <table>
      <tr>
        <th>Refnbr</th>
        <th>Pris</th>
        <th>Namn</th>
        <th>Email</th>
      </tr>
      <% @attendees_confirm.each do |a| %>
        <tr>
          <td><%= a.refnbr %></td>
          <td><%= a.preference.get_price[:total_price] %> kr</td>
          <td><%= a.name %></td>
          <td><%= a.email %></td>
        </tr>
      <% end %>
    </table>
    <p>
      Dessa deltagare kommer att få ett bekräftelsemail på att de har betalat in
      till Höstblotet.
    </p>
    <p>
      Är du säker på att du vill utföra denna handling?
    </p>
    <%= f.submit "Ja", style:"float:left" %>
  <% end %>
  <%= button_to "Avbryt", {controller: 'admin', action: 'index'},
                style:"float:rigth;margin-left:10px;", method: :get %>
</div>
