<%= render 'shared/error_messages' %>
<div id="main">
  <h1>Uppdatera deltagare</h1>
   <%= form_for @attendee, url: {action: "update"} do |f| %>
    <div style="width:50%;float:left">
      <%= f.hidden_field :id %>
      <%= f.label :name %>: <br>
      <%= f.text_field :name %><br>
      <%= f.label :pnbr, 'Personnummer (ÅÅMMDDXXXX)' %>: <br>
      <%= f.text_field :pnbr %><br>
      <%= f.label :email %>: <br>
      <%= f.email_field :email %><br>
      <%= f.label :address %>: <br>
      <%= f.text_area :address %><br>
      <%= f.label :phone %>: <br>
      <%= f.text_field :phone %><br>
      <%= f.label :title %>: <br>
      <%= f.text_field :title %><br>
      <%= f.label :companion %>: <br>
      <%= f.text_field :companion %><br>
      <%= f.label :status_attending, 'Deltar i höstblotet:' %>
      <%= f.radio_button :status, 'attending' %><br>
      <%= f.label :status_reserve, 'Reservlista:' %>
      <%= f.radio_button :status, 'reserve' %><br>
      <%= f.label :status_removed, 'Kommer ej på balen:' %>
      <%= f.radio_button :status, 'removed' %><br>
      <p>
        <%= f.submit "Uppdatera deltagare"%>
      </p>
    </div>
    <div style="width:50%;float:right">
      <h3 style="margin-top:0px;">Beställning:</h3>
      <%= f.fields_for :preference do |p| %>
        <%= p.hidden_field :id %>
        <p>
          Studerande (<%= Preference.prices[:student] %> kr)
          <%= p.radio_button :ticket_type, :student %><br>
          Ickestuderande
          (<%= Preference.prices[:non_student] %> kr):
          <%= p.radio_button :ticket_type, :non_student %><br>
          Tjänsteman på Blekingska
          (<%= Preference.prices[:active] %> kr):
          <%= p.radio_button :ticket_type, :active %><br>
          Gynnare (<%= Preference.prices[:giver] %> kr)
          <%= p.radio_button :ticket_type, :giver %><br>
        </p>
        <p>
          Alkohol, under middagen
          (<%= Preference.prices[:alcohol] %> kr):
          <%= p.radio_button :alcohol, 'true' %><br>
          Alkoholfritt, under middagen
          (0 kr):
          <%= p.radio_button :alcohol, 'false' %><br>
        </p>
        Sexa (<%= Preference.prices[:sexa] %> kr):
        <%= p.check_box :sexa %><br>
        Sångbok (<%= Preference.prices[:booklet] %> kr):
        <%= p.check_box :booklet %><br>
        Ballunch (<%= Preference.prices[:lunch] %> kr):
        <%= p.check_box :lunch %><br>
        <p>
          Medalj (<%= Preference.prices[:medal] %> kr):
          <%= p.radio_button :medal, 'yes' %><br>
          Medalj, inbyte (<%= Preference.prices[:trade_in] %> kr):
          <%= p.radio_button :medal, 'trade_in' %><br>
          Ingen medalj (0 kr):
          <%= p.radio_button :medal, 'no' %><br>
          Tidigare antal höstblot: <%= f.text_field :previous_visits,
                                                    maxlength: "3",
                                                    class: "numberfield" %><br>
        </p>
      <% end %>
      <h3>Matpreferenser:</h3>
      <%= f.fields_for :foodpreference do |fp| %>
        <%= fp.hidden_field :id %>
        <p>
          Vegetarian: <%= fp.check_box :vegetarian %><br>
          Vegan: <%= fp.check_box :vegan %><br>
        </p>
        Glutenfritt: <%= fp.check_box :gluten %><br>
        Laktosfritt: <%= fp.check_box :lactose %><br>
        Övriga Matpreferenser:<br>
        <%= fp.text_area :other %><br>
      <% end %>
    </div>
  <% end %>
</div>
