<div id="main">
  <h1>Uppdatera deltagare</h1>
    <table>
      <tr>
        <th>Namn</th>
        <th>Titel</th>
        <th>Email</th>
        <th>Status</th>
        <th>Uppdatera</th>
      </tr>
      <% @attendees.each do |a| %>
        <tr>
          <td><%= a.name %></td>
          <td><%= a.title %></td>
          <td><%= a.email %></td>
          <% if a.status == 'attending' %>
            <td>Kommer</td>
          <% elsif a.status == 'reserve' %>
            <td>Reserv</td>
          <% elsif a.status == 'removed' %>
            <td>Kommer EJ</td>
          <% end %>
          <td style="text-align:center;"><%= link_to "Uppdatera",
            {controller: 'attendees', action: 'edit', id: a.id} %></td>
        </tr>
      <% end %>
    </table>
</div>
