<% provide(:title, t(:attendees)) %>
<div id="main">
  <h1><%= t(:attendees) %></h1>

  <p>
    The following people have signed up and confirmed:
  </p>

  <% if @attendees.empty? %>
    <p>
      No attendees confirmed yet.
    </p>
  <% else %>
    <table>
    <tr>
      <th>Name</th>
      <th>Title</th>
    </tr>
      <% @attendees.each do |a| %>
        <tr>
          <td><%= a.name %></td>
          <td><%= a.title %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
