<%= render 'shared/error_messages' %>
<div id="main">
<% if false %>
  <h1>Sign up closed!</h1>
  <p>
    Did you miss your chance to get a ticket? Send an e-mail to
    <a href="mailto:bal@blekingska.se">bal@blekingska.se</a> and we will
    see what we can do!
  </p>
<% else %>
  <% if use_reserve_list %>
    <% provide(:title, t(:reserve_list)) %>
    <h1><%= t(:reserve_list) %></h1>
    <p class="bold">
      Attention! This is only a registration form for the reserve list, as we
      have reached the limit of maximum attendees. If a place is freed, we will
      contact you with further information.
    </p>
  <% else %>
    <% provide(:title, t(:signup)) %>
    <h1><%= t(:signup) %></h1>
    <p style="text-align:center">
      <em>Last payment and registration day is the 31th of October.</em>
    </p>
  <% end %>
  <%= form_for @attendee, url: {action: "create", locale: I18n.locale} do |f| %>
    <div class="attending-form attending-form-primary">
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
      <%= f.label :pnbr, 'Personal number (YYMMDDXXXX)' %><br>
      <%= f.text_field :pnbr %><br>
      <%= f.label :email %><br>
      <%= f.email_field :email %><br>
      <%= f.label :address %><br>
      <%= f.text_area :address %><br>
      <%= f.label :phone %><br>
      <%= f.text_field :phone %><br>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :companion %><br>
      <%= f.text_field :companion %><br>
      <p class="form-info">
        Make sure that your companion also signs up separately.
        This field has limited influence over the seating arrangements.
        <br>
        Blekingska nationen i Lund collects this data when a ball ticket is
        purchased for the purpose of planning Höstblotet, e.g. with regards to
        the seating arrangements, and to stay in contact with the participants
        before and after the ball. More information is available in the
        nation’s Integrity Policy (in Swedish) which you can find here:
        <a href="https://www.blekingska.se/policyer">blekingska.se/policyer</a>.
        If you have further questions or want us to delete your data, please
        contact <a href="mailto:q@blekingska.se">q@blekingska.se</a>.
      </p>
    </div>
    <div class="attending-form attending-form-secondary">
      <%= f.fields_for :preference do |p| %>
        <p>
          <%= p.radio_button :ticket_type, :student %>
          <label for="attendee_preference_attributes_ticket_type_student">Student <span>(<%= Preference.prices[:student] %> kr)</span></label><br>
          <%= p.radio_button :ticket_type, :non_sudent %>
          <label for="attendee_preference_attributes_ticket_type_non_student">Non student <span>(<%= Preference.prices[:non_student] %> kr)</span></label><br>
          <%= p.radio_button :ticket_type, :active %>
          <label for="attendee_preference_attributes_ticket_type_active">Tjänsteman at Blekingska <span>(<%= Preference.prices[:active] %> kr)</span></label><br>
          <%= p.radio_button :ticket_type, :giver %>
          <label for="attendee_preference_attributes_ticket_type_giver">Giver <span>(<%= Preference.prices[:giver] %> kr or more)</span></label><br>
        </p>
        <p>
          <%= p.radio_button :alcohol, true %>
          <label for="attendee_preference_attributes_alcohol_true">Alcohol during dinner <span>(<%= Preference.prices[:alcohol] %> kr)</span></label><br>
          <%= p.radio_button :alcohol, false %>
          <label for="attendee_preference_attributes_alcohol_false">No alcohol during dinner <span>(0 kr)</span></label><br>
        </p>
        <p>
          <%= p.check_box :sexa, disabled: sexa_cutoff_limit_reached %>
          <% if sexa_cutoff_limit_reached %>
            <label for="attendee_preference_attributes_sexa"><s>Sexa <span>(<%= Preference.prices[:sexa] %> kr)</span></s> No places left</label><br>
          <% else %>
            <label for="attendee_preference_attributes_sexa">Sexa <span>(<%= Preference.prices[:sexa] %> kr)</span></label><br>
          <% end %>
          <%= p.check_box :booklet %>
          <label for="attendee_preference_attributes_booklet">Songbook <span>(<%= Preference.prices[:booklet] %> kr)</span></label><br>
          <%= p.check_box :lunch %>
          <label for="attendee_preference_attributes_lunch">Bal lunch <span>(<%= Preference.prices[:lunch] %> kr)</span></label><br>
        </p>
        <p>
          <%= p.radio_button :medal, 'yes' %>
          <label for="attendee_preference_attributes_medal_yes">Medal <span>(<%= Preference.prices[:medal] %> kr)</span></label><br>
          <%= p.radio_button :medal, 'trade_in' %>
          <label for="attendee_preference_attributes_medal_trade_in">Medal, trade-in <span>(<%= Preference.prices[:trade_in] %> kr)</span></label><br>
          <%= p.radio_button :medal, 'no' %>
          <label for="attendee_preference_attributes_medal_no">No medal <span>(0 kr)</span></label><br>
          <label for="attendee_previous_visits">Nbr. of previous Höstblot:</label>
          <%= f.text_field :previous_visits, maxlength: "3", class: "numberfield" %><br>
        </p>
      <% end %>
      <%= f.fields_for :foodpreference do |fp| %>
        <p>
          <%= fp.check_box :vegetarian %>
          <label for="attendee_foodpreference_attributes_vegetarian">Vegetarian</label>
          <br>
          <%= fp.check_box :vegan %>
          <label for="attendee_foodpreference_attributes_vegan">Vegan</label>
          <br>
        </p>
        <p>
          <%= fp.check_box :gluten %>
          <label for="attendee_foodpreference_attributes_gluten">Gluten free</label><br>
          <%= fp.check_box :lactose %>
          <label for="attendee_foodpreference_attributes_lactose">Lactose free</label><br>
        </p>
        <p>
          <label for="attendee_foodpreference_attributes_other">Other food preferences:</label><br>
          <%= fp.text_area :other %><br>
        </p>
      <% end %>
      <p class="signup-button">
        <%= f.submit "Sign up!"%>
      </p>
    </div>
  <% end %>
<% end %>
</div>
