<%= render 'shared/error_messages' %>
<div id="main">
<% if false %>
  <h1>Anmälan stängd!</h1>
  <p>
    Missade du att köpa din biljett? Maila
    <a href="mailto:bal@blekingska.se">bal@blekingska.se</a>
    så gör vi vårt bästa för att du skall kunna gå på balen!
  </p>
<% else %>
  <% if use_reserve_list %>
    <% provide(:title, t(:reserve_list)) %>
    <h1><%= t(:reserve_list) %></h1>
    <p class="bold">
      Observera! Detta är endast en anmälan till reservlista, då balens
      deltagarlista är full. Vi kontaktar dig om en plats eventuellt öppnar sig.
    </p>
  <% else %>
    <% provide(:title, t(:signup)) %>
    <h1><%= t(:signup) %></h1>
    <p style="text-align:center">
      <em>Sista anmälnings- och betalningsdag är 31e oktober.</em>
    </p>
  <% end %>
  <%= form_for @attendee, url: {action: "create", locale: I18n.locale} do |f| %>
    <div class="attending-form attending-form-primary">
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
      <%= f.label :pnbr, 'Personnummer (ÅÅMMDDXXXX)' %><br>
      <%= f.text_field :pnbr %><br>
      <%= f.label :email %><br>
      <%= f.email_field :email %><br>
      <%= f.label :address %><br>
      <%= f.text_area :address %><br>
      <%= f.label :phone %><br>
      <%= f.text_field :phone %><br>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :companion %><br>
      <%= f.text_field :companion %><br>
      <p class="form-info">
        Glöm inte att ditt ev. följe även måste anmäla sig separat!
        Denna ruta har begränsat inflytande på bordsplaceringen.
        <br>
        Blekingska nationen i Lund samlar in dessa personuppgifter i samband
        med köp av balbiljett för att planera Höstblotet med exempelvis
        bordsplacering och för att kunna hålla kontakten med deltagarna före
        och efter baldagen. Mer information finns i nationens integritetspolicy
        som du kan hitta här: <a href="https://www.blekingska.se/policyer">blekingska.se/policyer</a>.
        Vid frågor eller för att begära att uppgifterna om dig raderas, kontakta
        <a href="mailto:q@blekingska.se">q@blekingska.se</a>.
      </p>
    </div>
    <div class="attending-form attending-form-secondary">
      <%= f.fields_for :preference do |p| %>
        <p>
          <%= p.radio_button :ticket_type, :student %>
          <label for="attendee_preference_attributes_ticket_type_student">Studerande <span>(<%= Preference.prices[:student] %> kr)</span></label><br>
          <%= p.radio_button :ticket_type, :non_student %>
          <label for="attendee_preference_attributes_ticket_type_non_student">Icke-studerande <span>(<%= Preference.prices[:non_student] %> kr)</span></label><br>
          <%= p.radio_button :ticket_type, :active %>
          <label for="attendee_preference_attributes_ticket_type_active">Tjänsteman på Blekingska <span>(<%= Preference.prices[:active] %> kr)</span></label><br>
          <%= p.radio_button :ticket_type, :giver %>
          <label for="attendee_preference_attributes_ticket_type_giver">Gynnare <span>(<%= Preference.prices[:giver] %> kr eller mer)</span></label><br>
        </p>
        <p>
          <%= p.radio_button :alcohol, true %>
          <label for="attendee_preference_attributes_alcohol_true">Alkohol till maten <span>(<%= Preference.prices[:alcohol] %> kr)</span></label><br>
          <%= p.radio_button :alcohol, false %>
          <label for="attendee_preference_attributes_alcohol_false">Alkoholfritt till maten <span>(0 kr)</span></label><br>
        </p>
        <p>
          <%= p.check_box :sexa, disabled: sexa_cutoff_limit_reached %>
          <% if sexa_cutoff_limit_reached %>
            <label for="attendee_preference_attributes_sexa"><s>Sexa <span>(<%= Preference.prices[:sexa] %> kr)</span></s> Fullsatt</label><br>
          <% else %>
            <label for="attendee_preference_attributes_sexa">Sexa <span>(<%= Preference.prices[:sexa] %> kr)</span></label><br>
          <% end %>
          
          <%= p.check_box :booklet %>
          <label for="attendee_preference_attributes_booklet">Sångbok <span>(<%= Preference.prices[:booklet] %> kr)</span></label><br>
      
          <%= p.check_box :lunch %>
          <label for="attendee_preference_attributes_lunch">Ballunch <span>(<%= Preference.prices[:lunch] %> kr)</span></label><br>
        </p>
        <p>
          <%= p.radio_button :medal, 'yes' %>
          <label for="attendee_preference_attributes_medal_yes">Medalj <span>(<%= Preference.prices[:medal] %> kr)</span></label><br>
          <%= p.radio_button :medal, 'trade_in' %>
          <label for="attendee_preference_attributes_medal_trade_in">Medalj, inbyte <span>(<%= Preference.prices[:trade_in] %> kr)</span></label><br>
          <%= p.radio_button :medal, 'no' %>
          <label for="attendee_preference_attributes_medal_no">Ingen medalj <span>(0 kr)</span></label><br>
          <label for="attendee_previous_visits">Tidigare antal Höstblot:</label>
          <%= f.text_field :previous_visits, maxlength: "3", class: "numberfield" %>
        </p>
      <% end %>
      <%= f.fields_for :foodpreference do |fp| %>
        <p>
          <%= fp.check_box :vegetarian %>
          <label for="attendee_foodpreference_attributes_vegetarian">Vegetarian</label>
          <br>
          <%= fp.check_box :vegan %>
          <label for="attendee_foodpreference_attributes_vegan">Vegan</label>
          <br>
        </p>
        <p>
          <%= fp.check_box :gluten %>
          <label for="attendee_foodpreference_attributes_gluten">Glutenfritt</label><br>
          <%= fp.check_box :lactose %>
          <label for="attendee_foodpreference_attributes_lactose">Laktosfritt</label><br>
        </p>
        <p>
          <label for="attendee_foodpreference_attributes_other">Övriga matpreferenser</label><br>
          <%= fp.text_area :other %><br>
        </p>
      <% end %>
      <p class="signup-button">
        <%= f.submit "Anmäl mig!"%>
      </p>
    </div>
  <% end %>
<% end %>
</div>
