<div id="main" style="width: 100%; overflow: hidden;">
  <h1>Du är nu anmäld till Höstblotet 2019!</h1>
  <p>
    Betala in på följande bank-giro: <i>145-1939</i><br>
    Ange följande referensnummer när du betalar in: <b><%= @attendee.refnbr %></b> <br>
    <b>Tänk på att din anmälan inte är fullbordad förrän du har betalat in!</b>
  </p>
  Du har angivit följande information:
  <p>
    Namn: <%= @attendee.name %><br>
    Personnummer: <%= @attendee.pnbr %><br>
    Email: <%= @attendee.email %><br>
    Telefonnummer: <%= @attendee.phone %><br>
    Adress: <%= @attendee.address %><br>
    Titel: <%= @attendee.title %><br>
    Följe: <%= @attendee.companion %><br>
    <% unless @attendee.previous_visits.blank? %>
      Tidigare antal Höstblot: <%= @attendee.previous_visits %> <br>
    <% end %>
  </p>
  <p>
    Beställning:<br>
      <% pref = @attendee.preference %>
      <% price = pref.get_price %>
      <% alcohol_free = !pref.alcohol ? ', alkoholfritt' : ''  %>
      <%= t(pref.ticket_type) + alcohol_free + ': ' +
        price[:dinner].to_s + ' kr' %> <br>
      <% if pref.sexa %>
        <%= 'Sexa: ' + price[:sexa].to_s + ' kr' %> <br>
      <% end %>
      <% if pref.medal == 'yes' %>
        <%= 'Medalj: ' + price[:medal].to_s + ' kr' %> <br>
      <% elsif pref.medal == 'trade_in' %>
        <%= 'Medalj, inbyte: ' + price[:medal].to_s + ' kr' %> <br>
      <% end %>
      <% if pref.booklet %>
        <%= 'Sångbok: ' + price[:booklet].to_s + ' kr' %> <br>
      <% end %>
      <% if pref.lunch %>
        <%= 'Ballunch: ' + price[:lunch].to_s + ' kr' %> <br>
      <% end %>
    Summa totalt: <%= price[:total_price] %> kr<%= @is_giver ? ' eller mer' : '' %>
  </p>
  <p>
    Du har angivit följande matpreferenser: <br>
    <% food_pref = @attendee.foodpreference %>
      Vegetarian: <%= food_pref.vegetarian ? 'Ja' : 'Nej' %><br>
      Vegan: <%= food_pref.vegan ? 'Ja' : 'Nej' %><br>
      Glutenfritt: <%= food_pref.gluten ? 'Ja' : 'Nej' %><br>
      Laktosfritt: <%= food_pref.lactose ? 'Ja' : 'Nej' %><br>
      Övriga matpreferenser:
       <%= food_pref.other.blank? ? 'Inga' : food_pref.other %><br>
  </p>
  <p>
    Ett bekräftelsemail har skickats till <%= @attendee.email %>
  </p>
</div>
