<div id="main" style="width: 100%; overflow: hidden;">
  <h1>You have signed up for Höstblotet 2019!</h1>
  <p>
    Please place your payment at bankgiro: <i>145-1939</i><br>
    If you have any questions about the payment, please direct these to pq@blekingska.se <br>
    Please enter the following reference number when placing your payment:
      <b><%= @attendee.refnbr %></b> <br>
    <b>Reminder, your sign up is not complete until you have placed your payment!</b>
  </p>
  You have entered the following information:
  <p>
    Name: <%= @attendee.name %><br>
    Personal number: <%= @attendee.pnbr %><br>
    Email: <%= @attendee.email %><br>
    Phone number: <%= @attendee.phone %><br>
    Address: <%= @attendee.address %><br>
    Title: <%= @attendee.title %><br>
    Company: <%= @attendee.companion %><br>
    <% unless @attendee.previous_visits.blank? %>
      Nbr. of previous Höstblot: <%= @attendee.previous_visits %> <br>
    <% end %>
  </p>
  <p>
    Order:<br>
      <% pref = @attendee.preference %>
      <% price = pref.get_price %>
      <% alcohol_free = !pref.alcohol ? ', alkoholfritt' : ''  %>
      <%= t(pref.ticket_type) + alcohol_free + ': ' +
        price[:dinner].to_s + ' kr' %> <br>
      <% if pref.sexa %>
        <%= 'Sexa: ' + price[:sexa].to_s + ' kr' %> <br>
      <% end %>
      <% if pref.medal == 'yes' %>
        <%= 'Medal: ' + price[:medal].to_s + ' kr' %> <br>
      <% elsif pref.medal == 'trade_in' %>
        <%= 'Medal, trade-in: ' + price[:medal].to_s + ' kr' %> <br>
      <% end %>
      <% if pref.booklet %>
        <%= 'Songbook: ' + price[:booklet].to_s + ' kr' %> <br>
      <% end %>
      <% if pref.lunch %>
        <%= 'Bal lunch: ' + price[:lunch].to_s + ' kr' %> <br>
      <% end %>
    Total sum: <%= price[:total_price] %> kr<%= @is_giver ? ' or more' : '' %>
  </p>
  <p>
    You have entered the following food preferences: <br>
    <% food_pref = @attendee.foodpreference %>
      Vegetarian: <%= food_pref.vegetarian ? 'Yes' : 'No' %><br>
      Vegan: <%= food_pref.vegan ? 'Yes' : 'No' %><br>
      Gluten free: <%= food_pref.gluten ? 'Yes' : 'No' %><br>
      Lactose free: <%= food_pref.lactose ? 'Yes' : 'No' %><br>
      Other foodpreferences:
      <%= food_pref.other.blank? ? 'None' : food_pref.other %><br>
  </p>
  <p>
    A confirmation mail has been sent to <%= @attendee.email %>
  </p>
</div>
