<div id="main">
  <p>
    Följande deltagare har nu fått sin inbetalning registrerad: <br>
  </p>
  <table>
    <tr>
      <th>Refnbr</th>
      <th>Namn</th>
      <th>Email</th>
      <th>Pris</th>
    </tr>
    <% @attendees_updated.each do |a| %>
      <tr>
        <td><%= a.refnbr %></td>
        <td><%= a.name %></td>
        <td><%= a.email %></td>
        <td><%= a.preference.get_price[:total_price] %> kr</td>
      </tr>
    <% end %>
  </table>
  <p>
    Bekräftelsemail är nu påväg till dessa deltagare.
  </p>
  <div>
    <%= button_to "Tillbaka", {controller: 'admin', action: 'index'},
                  method: :get %>
  </div>
</div>
