Du är nu anmäld till Höstblotet 2019!

Betala in på följande bank-giro: 145-1939
Ange följande referensnummer när du betalar in: <%= @attendee.refnbr %>
Tänk på att din anmälan inte är fullbordad förrän du har betalat in!
Sista betalningsdag är 31e oktober.

Du har angivit följande information:

Namn: <%= @attendee.name %>
Personnummer: <%= @attendee.pnbr %>
Email: <%= @attendee.email %>
Telefonnummer: <%= @attendee.phone %>
Adress: <%= @attendee.address %>
Titel: <%= @attendee.title %>
Följe: <%= @attendee.companion %>
<% unless @attendee.previous_visits.blank? %>
Tidigare antal Höstblot: <%= @attendee.previous_visits %>
<% end %>

Beställning:
<% pref = @attendee.preference %>
<% price = pref.get_price %>
<% alcohol_free = !pref.alcohol ? ', alkoholfritt' : ''  %>
<%= t(pref.ticket_type) + alcohol_free + ': ' + price[:dinner].to_s + ' kr' %>
<% if pref.sexa %>
<%= 'Sexa: ' + price[:sexa].to_s + ' kr' %>
<% end %>
<% if pref.medal == 'yes' %>
<%= 'Medalj: ' + price[:medal].to_s + ' kr' %>
<% elsif pref.medal == 'trade_in' %>
<%= 'Medalj, inbyte: ' + price[:medal].to_s + ' kr' %>
<% end %>
<% if pref.booklet %>
<%= 'Sångbok: ' + price[:booklet].to_s + ' kr' %>
<% end %>
<% if pref.lunch %>
<%= 'Ballunch: ' + price[:lunch].to_s + ' kr' %>
<% end %>
Summa totalt: <%= price[:total_price] %> kr<%= @is_giver ? ' eller mer' : '' %>

Du har angivit följande matpreferenser:
<% food_pref = @attendee.foodpreference %>
Vegetarian: <%= food_pref.vegetarian ? 'Ja' : 'Nej' %>
Vegan: <%= food_pref.vegan ? 'Ja' : 'Nej' %>
Glutenfritt: <%= food_pref.gluten ? 'Ja' : 'Nej' %>
Laktosfritt: <%= food_pref.lactose ? 'Ja' : 'Nej' %>
Övriga matpreferenser: <%= food_pref.other.blank? ? 'Inga' : food_pref.other %>
