You have signed up for Höstblotet 2019!

Please place your payment at bankgiro: 145-1939
If you have any questions about the payment, please direct these to pq@blekingska.se
Please enter the following reference number when placing your payment: <%= @attendee.refnbr %>
Reminder, your sign up is not complete until you have placed your payment!
Last payment day is 31th of October.

You have entered the following information:

Name: <%= @attendee.name %>
Personal number: <%= @attendee.pnbr %>
Email: <%= @attendee.email %>
Phone number: <%= @attendee.phone %>
Address: <%= @attendee.address %>
Title: <%= @attendee.title %>
Company: <%= @attendee.companion %>
<% unless @attendee.previous_visits.blank? %>
Nbr. of previous Höstblot: <%= @attendee.previous_visits %>
<% end %>

Order:
<% pref = @attendee.preference %>
<% price = pref.get_price %>
<% alcohol_free = !pref.alcohol ? ', alkoholfritt' : ''  %>
<%= t(pref.ticket_type) + alcohol_free + ': ' + price[:dinner].to_s + ' kr' %>
<% if pref.sexa %>
<%= 'Sexa: ' + price[:sexa].to_s + ' kr' %>
<% end %>
<% if pref.medal == 'yes' %>
<%= 'Medal: ' + price[:medal].to_s + ' kr' %>
<% elsif pref.medal == 'trade_in' %>
<%= 'Medal, trade-in: ' + price[:medal].to_s + ' kr' %>
<% end %>
<% if pref.booklet %>
<%= 'Songbook: ' + price[:booklet].to_s + ' kr' %>
<% end %>
<% if pref.lunch %>
<%= 'Bal lunch: ' + price[:lunch].to_s + ' kr' %>
<% end %>
Total sum: <%= price[:total_price] %> kr<%= @is_giver ? ' or more' : '' %>

You have entered the following food preferences:
<% food_pref = @attendee.foodpreference %>
Vegetarian: <%= food_pref.vegetarian ? 'Yes' : 'No' %>
Vegan: <%= food_pref.vegan ? 'Yes' : 'No' %>
Gluten free: <%= food_pref.gluten ? 'Yes' : 'No' %>
Lactose free: <%= food_pref.lactose ? 'Yes' : 'No' %>
Other foodpreferences: <%= food_pref.other.blank? ? 'None' : food_pref.other %>
