<h2>En ny person har placerats på reservlistan</h2>
<p>
  Nuvarande statistik:<br>
  <b>Antal registrerade:</b> <%= @registrations %><br>
  <b>Antal som ej betalat:</b> <%= @attendees_not_paid %><br>
  <b>Antal på reservlista:</b> <%= @reserves %><br>
</p>
<p>
  Personen har angivit följande information:
</p>
<p>
  Namn: <%= @attendee.name %><br>
  Personnummer: <%= @attendee.pnbr %><br>
  Email: <%= @attendee.email %><br>
  Telefonnummer: <%= @attendee.phone %><br>
  Adress: <%= @attendee.address %><br>
  Titel: <%= @attendee.title %><br>
  Följe: <%= @attendee.companion %><br>
</p>
<p>
  Beställning:<br>
    <% pref = @attendee.preference %>
    <% price = pref.get_price %>
    <% alcohol_free = !pref.alcohol ? ', alkoholfritt' : ''  %>
    <%= t(pref.ticket_type) + alcohol_free + ': ' +
      price[:dinner].to_s + ' kr' %> <br>
    <% if pref.sexa %>
      <%= 'Sexa: ' + price[:sexa].to_s + ' kr' %> <br>
    <% end %>
    <% if pref.medal == 'yes' %>
      <%= 'Medal: ' + price[:medal].to_s + ' kr' %> <br>
    <% elsif pref.medal == 'trade_in' %>
      <%= 'Medal, trade-in: ' + price[:medal].to_s + ' kr' %> <br>
    <% end %>
    <% if pref.booklet %>
      <%= 'Sångbok: ' + price[:booklet].to_s + ' kr' %> <br>
    <% end %>
    <% if pref.lunch %>
      <%= 'Ballunch: ' + price[:lunch].to_s + ' kr' %> <br>
    <% end %>
  Summa totalt: <%= price[:total_price] %> kr
</p>
<p>
  Personen angav följande matpreferenser: <br>
  <% food_pref = @attendee.foodpreference %>
    Vegetarian: <%= food_pref.vegetarian ? 'Ja' : 'Nej' %><br>
    Vegan: <%= food_pref.vegan ? 'Ja' : 'Nej' %><br>
    Glutenfritt: <%= food_pref.gluten ? 'Ja' : 'Nej' %><br>
    Laktosfritt: <%= food_pref.lactose ? 'Ja' : 'Nej' %><br>
    Övriga matpreferenser:
    <%= food_pref.other.blank? ? 'Inga' : food_pref.other %><br>
</p>
