<h1>Din betalning har inkommit</h1>
<p>
  Din anmälan är härmed fullbordad, och vi ser fram emot din närvaro på
  Höstblotet 2019!
</p>

<hr>

<h1>We have received your payment</h1>
<p>
  Your registration is now completed, and we look forward to your attendance at
  Höstblotet 2019!
</p>
