<h2>You have been placed on the reserve list for Höstblotet 2019!</h2>
<p>
  <b>We will contact you if a spot opens up.</b><br>
  You are still very welcome to the after party.<br>
  If you have any questions, don't hesitate to contact expen@blekingska.se
</p>
<p>
  You have entered the following information:
</p>
<p>
  Name: <%= @attendee.name %><br>
  Personal number: <%= @attendee.pnbr %><br>
  Email: <%= @attendee.email %><br>
  Phone number: <%= @attendee.phone %><br>
  Address: <%= @attendee.address %><br>
  Title: <%= @attendee.title %><br>
  Company: <%= @attendee.companion %><br>
</p>
<p>
  Order:<br>
    <% pref = @attendee.preference %>
    <% price = pref.get_price %>
    <% alcohol_free = !pref.alcohol ? ', alkoholfritt' : ''  %>
    <%= t(pref.ticket_type) + alcohol_free + ': ' +
      price[:dinner].to_s + ' kr' %> <br>
    <% if pref.sexa %>
      <%= 'Sexa: ' + price[:sexa].to_s + ' kr' %> <br>
    <% end %>
    <% if pref.medal == 'yes' %>
      <%= 'Medal: ' + price[:medal].to_s + ' kr' %> <br>
    <% elsif pref.medal == 'trade_in' %>
      <%= 'Medal, trade-in: ' + price[:medal].to_s + ' kr' %> <br>
    <% end %>
    <% if pref.booklet %>
      <%= 'Songbook: ' + price[:booklet].to_s + ' kr' %> <br>
    <% end %>
    <% if pref.lunch %>
      <%= 'Bal lunch: ' + price[:lunch].to_s + ' kr' %> <br>
    <% end %>
  Total sum: <%= price[:total_price] %> kr<%= @is_giver ? ' or more' : '' %>
</p>
<p>
  You have entered the following food preferences: <br>
  <% food_pref = @attendee.foodpreference %>
    Vegetarian: <%= food_pref.vegetarian ? 'Yes' : 'No' %><br>
    Vegan: <%= food_pref.vegan ? 'Yes' : 'No' %><br>
    Gluten free: <%= food_pref.gluten ? 'Yes' : 'No' %><br>
    Lactose free: <%= food_pref.lactose ? 'Yes' : 'No' %><br>
    Other foodpreferences:
    <%= food_pref.other.blank? ? 'None' : food_pref.other %><br>
</p>
