You have been placed on the reserve list for Höstblotet 2019!

We will contact you if a spot opens up.
You are still very welcome to the after party.
If you have any questions, don't hesitate to contact expen@blekingska.se

You have entered the following information:

Name: <%= @attendee.name %>
Personal number: <%= @attendee.pnbr %>
Email: <%= @attendee.email %>
Phone number: <%= @attendee.phone %>
Address: <%= @attendee.address %>
Title: <%= @attendee.title %>
Company: <%= @attendee.companion %>

Order:
<% pref = @attendee.preference %>
<% price = pref.get_price %>
<% alcohol_free = !pref.alcohol ? ', alkoholfritt' : ''  %>
<%= t(pref.ticket_type) + alcohol_free + ': ' + price[:dinner].to_s + ' kr' %>
<% if pref.sexa %>
<%= 'Sexa: ' + price[:sexa].to_s + ' kr' %>
<% end %>
<% if pref.medal == 'yes' %>
<%= 'Medal: ' + price[:medal].to_s + ' kr' %>
<% elsif pref.medal == 'trade_in' %>
<%= 'Medal, trade-in: ' + price[:medal].to_s + ' kr' %>
<% end %>
<% if pref.booklet %>
<%= 'Songbook: ' + price[:booklet].to_s + ' kr' %>
<% end %>
<% if pref.lunch %>
<%= 'Bal lunch: ' + price[:lunch].to_s + ' kr' %>
<% end %>
Total sum: <%= price[:total_price] %> kr<%= @is_giver ? ' or more' : '' %>

You have entered the following food preferences:
<% food_pref = @attendee.foodpreference %>
Vegetarian: <%= food_pref.vegetarian ? 'Yes' : 'No' %>
Vegan: <%= food_pref.vegan ? 'Yes' : 'No' %>
Gluten free: <%= food_pref.gluten ? 'Yes' : 'No' %>
Lactose free: <%= food_pref.lactose ? 'Yes' : 'No' %>
Other foodpreferences: <%= food_pref.other.blank? ? 'None' : food_pref.other %>
