<h1>Höstblotet 2019</h1>
<p>
  Antalet beställda sexabiljetter till Höstblotet uppgår nu till
  <%= AttendeeHelper.sexa_limit %> st.
</p>
<p>
  Detta utskick är automatiserat och går ej att svara på.
</p>
