@font-face {
  font-family: "SansSerifBookFLF";
  font-style: normal;
  font-weight: normal;
  src: font-url("SansSerifBookFLF.eot") format("eot"),
       font-url("SansSerifBookFLF.woff") format("woff"),
       font-url("SansSerifBookFLF.ttf") format("truetype"),
       font-url("SansSerifBookFLF.svg#SansSerifBookFLF") format("svg");
}

@font-face {
  font-family: "Pontano Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Pontano Sans"),
       local("PontanoSans-Regular"),
       font-url("pontano_sans.woff") format("woff");
}
