/* forms */

input[type="text"], input[type="password"], input[type="email"], textarea {
  border: 1px solid #bbb;
  width: 14em;
  margin-bottom: 1em;
  padding: 0.4em 0.6em;
  max-width: 100%;
}

input.numberfield {
  width: 2em;
}

label {
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
}

label span {
  font-weight: normal;
  margin-left: 0.3em;
}

textarea {
  resize: none;
}

.alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: darkgreen;
  background-color: lightgreen;
  border-color: darkgreen;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.form-info {
  font-size: 70%;
  max-width: 200px;
  margin: 0;
  font-style: italic;
}

#new_attendee {
  text-align: center;
}
.attending-form {
  text-align: left;
  display: inline-block;
  padding: 0 2em;
  vertical-align: top;
}
.attending-form-primary {
  border-right: 1px dashed #ccc;

}
.attending-form-secondary {}

