body {
  color: #333;
  background-color: #fff;
  font-family: Garamond, serif;
  font-size: 100%;
}

p {
  line-height: 1.5em;
  margin: 0 auto 1.5em auto;
  display: block;
}

h2 {
  font-size: 1.2em;
  text-align: center;
  color: #211451;
  margin-bottom: 1.5em;
}

#logo_container img {
  margin-bottom: -170px; /* Magic number, but doesn't work for new logo ;) */
  width: 100%;
  height: auto;
  @media screen and (max-width: 1023px) {
    margin-bottom: -80px;
  }
}

table {
  margin: 0 0 40px 0;
}

th {
  background-color: grey;
  color: #ffffff;
  border: 1px solid #bbb;
  padding: 6px 12px;
}

td {
  padding: 3px 3px 0 0;
}

tr:nth-child(odd) {
  background-color: #e9e9e9;
}

#menu {
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
  margin-top: 2em;
  font-style: italic;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline;

      a {
        color: inherit;
        display: inline-block;
        padding:1em 1.5em;
        text-decoration: none;
      }

      a:hover, .selected {
        background-color: #f1f1f1;
      }
    }
  }
}

#container {
  max-width: 850px;
  background-color: #fff;
  margin: 0 auto;
}

#main {
  min-height: 430px;
  overflow: auto;
  padding: 2em 0;

  h1 {
    display: none;
    margin: 2em 0;
    text-align: center;
  }

  .program p {
    text-align: center;
  }
}

#footer {
  text-align: center;
  padding: 60px 0;
  margin: 0 1em;

  a {
    margin: 1em;
    text-decoration: none;
    height: 115px;
  }

  img {
    vertical-align: middle;
  }
}

.right {
  float: right;
}

.language {
  font-weight: bold;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}

.bold {
  color: #211451;
  font-weight: bold;
}

#organizers {
  width: 100%;
  margin-top: 2.5em;

  table {
    margin: 0 auto;

    tr {
      background-color: white !important;
    }

    td {
      width: 170px;
      padding: 0;

      p {
        text-align: center;
        color: #211451;
        margin: 0;
        padding: 0;

        em {
          color: #333;
        }
      }
    }
  }
}


@media (max-width: 685px) {
  #main {
    padding:0 1em;
  }
  .attending-form {
    padding: 0;
  }
  .attending-form-primary {
    border:none;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}
