<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="logo_container">
    <%= image_tag "hostblot_logo_2019.png", alt: "Höstblotet logo" %>
  </div>
  <div id="menu">
    <%= render_navigation %>
    <%= render_navigation(context: :right) %>
  </div>
  <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  </div>
  <%= yield %>

  <div id="footer">
    <a href="https://download.bghrt.se/blekingska/">
      <%= image_tag "bghrt.png", alt: "BIGHEART", width: 200, height: 50 %>
    </a>
    <a href="http://www.decisiondynamics.se/">
      <%= image_tag "dd.png", alt: "Decision Dynamics", width: 150, height: 88 %>
    </a>
    <a href="https://www.facebook.com/Wolkes-Punsch-685000108292641/">
      <%= image_tag "wolkes_logga.jpg", alt: "Wolkes Punsch", width: 200, height: 200 %>
    </a>
    <a href="http://www.eka-blommor.com/">
      <%= image_tag "eka-blommor.jpg", alt: "Eka Blommor", width: 200, height: 200 %>
    </a>
    <a href="http://www.folkesbiluthyrning.se/">
      <%= image_tag "folkes.png", alt: "Folkes Biluthyrning", width: 200, height: 70 %>
    </a>
    <a href="http://www.ljungbergsartist.se/">
      <%= image_tag "ljungbergs_artist.jpg", alt: "Ljungbergs Artist", width: 200, height: 200 %>
    </a>
  </div>

</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
